/**/

/*Main Black div eka  >section:nth-child(1)*/
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;
}

/*Scrol bar eka wenas karana pseudo class ekk*/
::-webkit-scrollbar{
    width: 16px;
    background: #000000;
}

::-webkit-scrollbar-thumb{
    background:#2be293 ;
}
/*---------------------------------------------------------*/


body>div:nth-child(1){
   background-color: #FA0079;
    height: 40vh;
    width: 1.25vw;
   position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}

body>div:nth-child(2){
   background-color: #FA0079;
    height: 2.5vh;
    width: 20vw;
   position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}
body>div:nth-child(3){
   background-color: #FAA400;
    height: 2.5vh;
    width: 20vw;
   position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
body>div:nth-child(4){
    background-color: #FAA400;
    height: 40vh;
    width: 1.25vw;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
/*------------------------------------------------------------*/
/*Thada nil color div page eka*/
body>main>section{
    width: 97.5%;
    height: 95vh;
    position: relative;
    background-color: #05061A;
    left: 0;
    bottom: 0;
    right: 0;
    top: 18px;
    margin: auto;
}

/*=================Can delete=================================================================*/
/*body>main>section:nth-child(2){*/
/*        width: 97.5%;*/
/*        height: 95vh;*/
/*        position: relative;*/
/*    !*background-color: #05061A;*!*/
/*    background-color: #d2e907;*/

/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    margin: auto;*/
/*}*/

/*=====================================*/
/*body>main>div:nth-child(1){*/
/*    height: 95.1vh;*/
/*    width: 97.5%;*/
/*    background-color:#2be293 ;*/
/*    position: relative;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    top: 18px;*/
/*    margin: auto;*/
/*}*/
/*body>main>div:nth-child(2){*/
/*    !*height: 95vh;*!*/
/*    !*width: 97.5%;*!*/
/*    background-color:#d2e907 ;*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*right: 0;*!*/
/*    !*top: 0;*!*/
/*    !*margin: auto;*!*/
/*}*/
/*body>main>div:nth-child(3){*/
/*    !*height: 95vh;*!*/
/*    !*width: 97.5%;*!*/
/*    background-color:#ff253a ;*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*right: 0;*!*/
/*    !*top: 0;*!*/
/*    !*margin: auto;*!*/
/*}*/
/*==================================================================================*/

/*------------------------------------*/

/*Logo eka*/
body>main>section>header>div>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 5px;

}

body>main>section>header>div{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;

}

body>main>section>header>h1 {
   display: inline-block;
    color: white;
    padding-left: 10px;
    font-size: 25px;
    border-bottom: 20px;
    position: absolute;
    margin-top: 25px;
    font-family:"Microsoft JhengHei Light";
    /*font-family:inherit;*/
}

/*-------------------------------------------*/

/*Header*/
body>main>section>header>nav>ul{
    position: absolute;
    right: 0;
    top: 10px;
}
body>main>section>header>nav>ul>li>a{
    text-decoration: none;
    color: white;
}

body>main>section>header>nav>ul>li{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 16px;
    font-family: 'Colonna MT', cursive ;
    /*background-color: rgba(255, 255, 255, 0.27);*/
    /*border-radius: 20px;*/
    display: inline-block;
}

/*Normel select karanakota meka thiinne.*/
body > main > section > header > nav >ul  :hover {
    cursor: pointer;
    color: #2be293;
    font-size: 30px;
    /*margin-right: 5px;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

/*---------------------------------------------------------------*/


/*Font set eka*/
body>main>section>section>aside>article>h1{
    color: #9FFF54;
    margin-left: 60px;
    font-size: 90px;
    display: inline-block;
}
body>main>section>section>aside>article>h2{
    color: #9FFF54;
    margin-left: 30px;
    font-size: 50px;
    display: inline-block;
}

body>main>section>section>aside>article>h1.Op3{
    color: #FAA400;
    font-size: 50px;
    margin-top: -50px;
    /*font-family: "Microsoft JhengHei Light";*/
    font-family: "Bodoni MT Poster Compressed";
}

body>main>section>section>aside>article>h3{
    color: #00E8BA;
    margin-left: 60px;
    font-size: 20px;
    margin-top: 30px;
    /*font-family: "Microsoft JhengHei Light";*/
    font-family: 'Lobster', cursive;
}
/*------------------------------------------------------*/

/*Profile pic*/
#BackgroundProfile{
    position: absolute;
    margin-right: 60px;
    top: 80px;
    right: 0;
}
#ProPile{
    position: absolute;
    margin-right: 170px;
    top: 231px;
    right: 0;
    border-radius: 10px;
}
/*----------------------------------------------------------*/

/*Social Meadia tika*/
body>main>section>section>aside#SocialMedia>nav:nth-child(1){
    position: absolute;
    right: 100px;
    bottom: 150px;
}

body>main>section>section>aside#SocialMedia>nav:nth-child(1)>div {
    right: 100px;
    margin-right: 10px;
    display: inline-block;
}

body>main>section>section>aside#SocialMedia>nav:nth-child(1):hover{
    cursor: pointer;
    color: #d2e907;
    /*font-size: 80px;*/
}

/*--------------------------------------------------------*/

/*" Follow Me On These Platforms "*/
body>main>section>section>aside#SocialMedia>h5{
    color: #9EFF00;
    font-size: 18px;
    position: absolute;
    bottom: 96px;
    right: 166px;
}
/*-------------------------------------------------------*/

/*Call*/
body>main>section>section>aside#SocialMedia>nav#call>div {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

/*----------------------------------------------------------------Firstpage Over--------------------------------------*/




/*----------------------------------------------------------------Second Page start--------------------------------------*/

/*Page topic eka*/
body>main>section:nth-child(2)>section{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    /*background: #23242a;*/
}

.box{
    position: relative;
    width: 300px;
    height: 100px;
    background: black;
    border-radius: 0;
    overflow: hidden;
    top: -40px;
    right: 0;
    left: 0;
    margin: auto;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s ;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

/*----2 of Red color borders--*/
/*
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770,#ff2770,#ff2770) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}*/

/*.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770,#ff2770,#ff2770) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}*/

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #000000;
    padding: 10px 5px;
    border-radius: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form .About{
    position: absolute;
    left: 0;
    top: 10px;
}
.box form .Me{
    position: absolute;
    right: 0;
    top: 10px;
}

.About{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 50px;
    letter-spacing: 0.1em;
}
.Me{
    color: #ffffff;
    font-weight: 500;
    font-family:Magneto;
    padding-right: 50px;
    text-align: center;
    letter-spacing: 0.1em;
}

/*--------Topic over----*/


/*photo eka*/
body>main>section:nth-child(2)>section>aside#AboutPic>article>figure>img{

    position: relative;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
}

/*Hey*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article>dd>h1{

    width: 0;
    height: 0;
    color: #28A6A6;
    position: absolute;
    font-size: 50px;
    font-family: "Lucida Handwriting";
    left: 0;
    top: 0;
    right: 500px;
    bottom: 300px;
    margin: auto;
}
/*Chedaya*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article:nth-child(1)>dd>pre{
    width: 0;
    height: 0;
    color: #FFFFFF;
    position: absolute;
    font-size: 30px;
    /*font-family: Iceberg;*/
    font-family: "Viner Hand ITC";
    left: 0;
    top: 0;
    right: 400px;
    bottom: 100px;
    margin: auto;
}

/*Download eka*/
body>main>section:nth-child(2)>section>h2 {
    height:50px;
    width: 200px;
    bottom: 100px;
    right: 100px;
    position: absolute;
    background-color: rgba(0, 102, 255, 1);
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}

/*Gif eka*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article:nth-child(2)>figure>img{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 400px;
    margin: auto;
}

/*----------------------------------Second page is over----------------------*/

























