/**/

/*Main Black div eka  >section:nth-child(1)*/
body{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #000000;
}

/*Scrol bar eka wenas karana pseudo class ekk*/
::-webkit-scrollbar{
    width: 16px;
    background: #000000;
}

::-webkit-scrollbar-thumb{
    background:#2be293 ;
}
/*---------------------------------------------------------*/


body>div:nth-child(1){
   background-color: #FA0079;
    height: 40vh;
    width: 1.25vw;
   position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}

body>div:nth-child(2){
   background-color: #FA0079;
    height: 2.5vh;
    width: 20vw;
   position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 2;
}
body>div:nth-child(3){
   background-color: #FAA400;
    height: 2.5vh;
    width: 20vw;
   position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
body>div:nth-child(4){
    background-color: #FAA400;
    height: 40vh;
    width: 1.25vw;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
/*------------------------------------------------------------*/
/*Thada nil color div page eka*/
body>main>section{
    width: 97.5%;
    height: 95vh;
    position: relative;
    background-color: #05061A;
    left: 0;
    bottom: 0;
    right: 0;
    top: 18px;
    margin: auto;
}

/*=================Can delete=================================================================*/
/*body>main>section:nth-child(2){*/
/*        width: 97.5%;*/
/*        height: 95vh;*/
/*        position: relative;*/
/*    !*background-color: #05061A;*!*/
/*    background-color: #d2e907;*/

/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    margin: auto;*/
/*}*/

/*=====================================*/
/*body>main>div:nth-child(1){*/
/*    height: 95.1vh;*/
/*    width: 97.5%;*/
/*    background-color:#2be293 ;*/
/*    position: relative;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    top: 18px;*/
/*    margin: auto;*/
/*}*/
/*body>main>div:nth-child(2){*/
/*    !*height: 95vh;*!*/
/*    !*width: 97.5%;*!*/
/*    background-color:#d2e907 ;*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*right: 0;*!*/
/*    !*top: 0;*!*/
/*    !*margin: auto;*!*/
/*}*/
/*body>main>div:nth-child(3){*/
/*    !*height: 95vh;*!*/
/*    !*width: 97.5%;*!*/
/*    background-color:#ff253a ;*/
/*    !*position: absolute;*!*/
/*    !*left: 0;*!*/
/*    !*bottom: 0;*!*/
/*    !*right: 0;*!*/
/*    !*top: 0;*!*/
/*    !*margin: auto;*!*/
/*}*/
/*==================================================================================*/

/*------------------------------------*/

/*Logo eka*/
body>main>section>header>div>img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 5px;

}

body>main>section>header>div{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: white;
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;

}

body>main>section>header>h1 {
    display: inline-block;
    color: white;
    padding-left: 10px;
    font-size: 25px;
    border-bottom: 20px;
    position: absolute;
    margin-top: 25px;
    font-family:"Microsoft JhengHei Light";
}

/*-------------------------------------------*/

/*Header*/
body>main>section>header>nav>ul{
    position: absolute;
    right: 0;
    top: 10px;
}
body>main>section>header>nav>ul>li>a{
    text-decoration: none;
    color: white;
}

body>main>section>header>nav>ul>li{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 16px;
    font-family: 'Colonna MT', cursive ;
    /*background-color: rgba(255, 255, 255, 0.27);*/
    /*border-radius: 20px;*/
    display: inline-block;
}

/*Normel select karanakota meka thiinne.*/
body > main > section > header > nav >ul  :hover {
    cursor: pointer;
    color: #2be293;
    font-size: 30px;
    /*margin-right: 5px;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

/*---------------------------------------------------------------*/

/*.praneeth{*/
/*    position: absolute;*/
/*    top: 50vh;*/
/*}*/
/*Font set eka*/
body>main>section>section>aside>article>h1{
    color: #9FFF54;
    margin-left: 60px;
    font-size: 90px;
    display: inline-block;
}
body>main>section>section>aside>article>h2{
    color: #9FFF54;
    margin-left: 30px;
    font-size: 50px;
    display: inline-block;
}

body>main>section>section>aside>article>h1.Op3{
    color: #FAA400;
    font-size: 50px;
    margin-top: -50px;
    /*font-family: "Microsoft JhengHei Light";*/
    font-family: "Bodoni MT Poster Compressed";
}

body>main>section>section>aside>article>h3{
    color: #00E8BA;
    margin-left: 60px;
    font-size: 20px;
    margin-top: 30px;
    /*font-family: "Microsoft JhengHei Light";*/
    font-family: 'Lobster', cursive;
}
/*------------------------------------------------------*/

/*Profile pic*/
#BackgroundProfile{
    width: 500px;
    height: 400px;
    position: absolute;
    margin-right: 60px;
    top: 80px;
    right: 0;
}
#ProPile{
    position: absolute;
    width:165px;
    height:130px;
    margin-right: 170px;
    top: 231px;
    right: 0;
    border-radius: 10px;
}
/*----------------------------------------------------------*/

/*Social Meadia tika*/
body>main>section>section>aside#SocialMedia>nav:nth-child(1){
    position: absolute;
    right: 100px;
    bottom: 150px;
}

body>main>section>section>aside#SocialMedia>nav:nth-child(1)>div {

    right: 100px;
    margin-right: 10px;
    display: inline-block;
}
body>main>section>section>aside#SocialMedia>nav:nth-child(1)>div>img {
    width: 50px;
    height: 50px;
}


body>main>section>section>aside#SocialMedia>nav:nth-child(1):hover{
    cursor: pointer;
    color: #d2e907;
    /*font-size: 80px;*/
}

/*--------------------------------------------------------*/

/*" Follow Me On These Platforms "*/
body>main>section>section>aside#SocialMedia>h5{
    color: #9EFF00;
    font-size: 18px;
    position: absolute;
    bottom: 96px;
    right: 166px;
}
/*-------------------------------------------------------*/

/*Call*/
body>main>section>section>aside#SocialMedia>nav#call>div {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

/*----------------------------------------------------------------Firstpage Over--------------------------------------*/




/*----------------------------------------------------------------Second Page start--------------------------------------*/

/*Page topic eka*/
body>main>section:nth-child(2)>section{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    /*background: #23242a;*/
}

.box{
    position: relative;
    width: 300px;
    height: 100px;
    background: black;
    border-radius: 0;
    overflow: hidden;
    top: -40px;
    right: 0;
    left: 0;
    margin: auto;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s ;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

/*----2 of Red color borders--*/
/*
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770,#ff2770,#ff2770) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}*/

/*.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #ff2770,#ff2770,#ff2770) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}*/

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #000000;
    padding: 10px 5px;
    border-radius: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form .About{
    position: absolute;
    left: 0;
    top: 10px;
}
.box form .Me{
    position: absolute;
    right: 0;
    top: 10px;
}

.About{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 50px;
    letter-spacing: 0.1em;
}
.Me{
    color: #ffffff;
    font-weight: 500;
    font-family:Magneto;
    padding-right: 50px;
    text-align: center;
    letter-spacing: 0.1em;
}

/*--------Topic over----*/


/*photo eka*/
body>main>section:nth-child(2)>section>aside#AboutPic>article>figure>img{

    position: relative;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
}

/*Hey*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article>dd>h1{

    width: 0;
    height: 0;
    color: #28A6A6;
    position: absolute;
    font-size: 50px;
    font-family: "Lucida Handwriting";
    left: 0;
    top: 0;
    right: 500px;
    bottom: 300px;
    margin: auto;
}
/*Chedaya*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article:nth-child(1)>dd>pre{
    width: 0;
    height: 0;
    color: #FFFFFF;
    position: absolute;
    font-size: 30px;
    /*font-family: Iceberg;*/
    font-family: "Viner Hand ITC";
    left: 0;
    top: 0;
    right: 400px;
    bottom: 100px;
    margin: auto;
}

/*Download eka*/
body>main>section:nth-child(2)>section>h2 {
    height:50px;
    width: 200px;
    bottom: 100px;
    right: 100px;
    position: absolute;
    background-color: rgba(0, 102, 255, 1);
    color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    border-radius: 20px;
}

/*Gif eka*/
body>main>section:nth-child(2)>section>aside#AboutDiscription>article:nth-child(2)>figure>img{
    width: 200px;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 400px;
    margin: auto;
}

/*----------------------------------Second page is over----------------------*/




/*-----------------------------------------Third page is start-----------------------------------------*/

/*Meeka daanna oona naa. Mokada uda topic ekata awashya div eka hadala thiinne... Eeka methanata implement karala thiinne...*/
/*
body>main>section:nth-child(3).box{
    position: relative;
    width: 300px;
    height: 100px;
    background: black;
    border-radius: 0;
    overflow: hidden;
    top: -40px;
    right: 0;
    left: 0;
    margin: auto;
}

body>main>section:nth-child(3).box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

body>main>section:nth-child(3).box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300px;
    height: 100px;
    background: linear-gradient(0deg, transparent,
    transparent, #45f3ff,#45f3ff,#45f3ff) ;
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s ;
}

body>main>section:nth-child(3).borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #000000;
    padding: 10px 5px;
    border-radius: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
*/

body>main>section:nth-child(3)>div{

    top: -20px;

}

.box form .Education{
    position: absolute;
    left: 0;
    top: 10px;
}

.Education{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 50px;
    letter-spacing: 0.1em;
}
/*-------------------------------------------------*/
/*Blue color div tika*/
/*
body>main>section:nth-child(3)>section>div{
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
    left: 40px;
    right: 0;
    top:50px;
    bottom: 0;
    margin: auto;
    display: inline-block;
    margin-left: 10px;
}


body>main>section:nth-child(3)>section>div:nth-child(1){


    top: 350px;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;

}

body>main>section:nth-child(3)>section>div:nth-child(2){
    !*
    left: 1200px;
    *!

    top: 280px;
    text-align: center;
    !*margin: 10px;*!
    padding-bottom: 20px;
}


body>main>section:nth-child(3)>section>div:nth-child(3){
    !*
    left: 1200px;
    *!

    top: 210px;
    text-align: center;
    !*margin: 10px;*!
    padding-bottom: 20px;
}

body>main>section:nth-child(3)>section>div:nth-child(4){
    !*
    left: 1200px;
    *!

    top: 160px;
    text-align: center;
    !*margin: 10px;*!
    padding-bottom: 20px;
}

body>main>section:nth-child(3)>section>div:nth-child(5){
    !*
    left: 1200px;
    *!

    top: 90px;
    text-align: center;
    !*margin: 10px;*!
    padding-bottom: 20px;
}

body>main>section:nth-child(3)>section>div:nth-child(6){
    !*
    left: 1200px;
    *!

    top: 25px;
    text-align: center;
    padding-bottom: 20px;
}
*/

/*White line eka*/
/*section:nth-child(3)>section>div*/
/*Underline ekATA Awashya wunoth meeka daanna*/
/*section:nth-child(3)>section:nth-child(1)>div{
    width: 1400px;
    height: 10px;
    background-color: #D9D9D9;
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;
    margin: auto;
}*/

/*Under Line white color*/
section:nth-child(3)>section.Underline>div{
    width: 1370px;
    height: 10px;
    position: absolute;
    left:41px;
    right: 0;
    bottom: 20px;
    /*margin: auto;*/
    background-color: #D9D9D9;
}

/*Orange color Stages*/
section:nth-child(3)>section#Stages>div:nth-child(1){
    width: 220px;
    height: 60px;
    position: absolute;
    left: 41px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;

}
section:nth-child(3)>section#Stages>div:nth-child(1)>h1{
    color: #000000;
    font-size: 15px;
    text-align: center;
}


section:nth-child(3)>section#Stages>div:nth-child(2){
    width: 220px;
    height: 120px;
    position: absolute;
    left: 271px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;

}
section:nth-child(3)>section#Stages>div:nth-child(2)>h1{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Stages>div:nth-child(3){
    width: 220px;
    height: 180px;
    position: absolute;
    left: 501px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;
}
section:nth-child(3)>section#Stages>div:nth-child(3)>h1{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Stages>div:nth-child(4){
    width: 220px;
    height: 240px;
    position: absolute;
    left: 731px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;
}
section:nth-child(3)>section#Stages>div:nth-child(4)>h1{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Stages>div:nth-child(5){
    width: 220px;
    height: 300px;
    position: absolute;
    left: 961px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;
}
section:nth-child(3)>section#Stages>div:nth-child(5)>h1{
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Stages>div:nth-child(6){
    width: 220px;
    height: 360px;
    position: absolute;
    left: 1191px;
    right: 0;
    bottom: 30px;
    background-color: #FFAE5D;
}
/*---------------------------------------*/

/*White color box */
section:nth-child(3)>section#Bluebox>div:nth-child(1){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 41px;
    bottom: 90px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
section:nth-child(3)>section#Bluebox>div:nth-child(1)>h4 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Bluebox>div:nth-child(2){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 271px;
    bottom: 150px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
section:nth-child(3)>section#Bluebox>div:nth-child(2)>h4 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Bluebox>div:nth-child(3){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 501px;
    bottom: 210px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
section:nth-child(3)>section#Bluebox>div:nth-child(3)>h4 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Bluebox>div:nth-child(4){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 731px;
    bottom: 270px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
section:nth-child(3)>section#Bluebox>div:nth-child(4)>h4 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Bluebox>div:nth-child(5){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 961px;
    bottom: 330px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
section:nth-child(3)>section#Bluebox>div:nth-child(5)>h4 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

section:nth-child(3)>section#Bluebox>div:nth-child(6){
    width: 200px;
    height: 50px;
    position: absolute;
    left: 1191px;
    bottom: 390px;
    background-color: #00FFFF;
    border-top: 10px solid #FFFFFF ;
    border-left: 10px solid #FFFFFF ;
    border-right: 10px solid #FFFFFF ;
}
/*------------------------------------------------------------------------*/

/*Step Layerd Flat*/
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(1){
    width: 241px;
    height: 10px;
    position: absolute;
    left: 20px;
    bottom: 160px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(2){
    width: 240px;
    height: 10px;
    position: absolute;
    left: 251px;
    bottom: 220px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(3){
    width: 240px;
    height: 10px;
    position: absolute;
    left: 481px;
    bottom: 280px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(4){
    width: 240px;
    height: 10px;
    position: absolute;
    left: 711px;
    bottom: 340px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(5){
    width: 240px;
    height: 10px;
    position: absolute;
    left: 941px;
    bottom: 400px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(6){
    width: 280px;
    height: 10px;
    position: absolute;
    left: 1171px;
    bottom: 460px;
    background-color: #D9D9D9;
}

/*Arrow eka hadana kotasa*/
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(6):after{
    content: "";
    display: inline-block;
    height: 40px;
    width: 10px;
    background-color: #D9D9D9;
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    bottom: -25px;
}
section:nth-child(3)>section#StepLayerdFlat>div:nth-child(6):before{
    content: "";
    display: inline-block;
    height: 40px;
    width: 10px;
    background-color: #D9D9D9;
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
    bottom: -4px;
}
/*---------------------------------------------------*/

section:nth-child(3)>section#StepLayerdUp>div:nth-child(1){
    width: 10px;
    height: 150px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdUp>div:nth-child(2){
    width: 10px;
    height: 50px;
    position: absolute;
    left: 251px;
    bottom: 170px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdUp>div:nth-child(3){
    width: 10px;
    height: 50px;
    position: absolute;
    left: 481px;
    bottom: 230px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdUp>div:nth-child(4){
    width: 10px;
    height: 50px;
    position: absolute;
    left: 711px;
    bottom: 290px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdUp>div:nth-child(5){
    width: 10px;
    height: 50px;
    position: absolute;
    left: 941px;
    bottom: 350px;
    background-color: #D9D9D9;
}
section:nth-child(3)>section#StepLayerdUp>div:nth-child(6){
    width: 10px;
    height: 50px;
    position: absolute;
    left: 1171px;
    bottom: 410px;
    background-color: #D9D9D9;
}
/*---------------------------------------------------------------------------*/

/*Images of edu*/
section:nth-child(3)>article#ImagesEdu>img:nth-child(5){
    width: 150px;
    height: 150px;
    position: absolute;
    left: 100px;
    bottom: 155px;
    transform:rotate(15deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(8){
    width: 150px;
    height: 150px;
    position: absolute;
    left: 290px;
    bottom: 225px;
    transform:rotate(15deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(6){
    width: 180px;
    height: 180px;
    position: absolute;
    left: 540px;
    bottom: 275px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(7){
    width: 150px;
    height: 150px;
    position: absolute;
    left: 740px;
    bottom: 340px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(9){
    width: 150px;
    height: 150px;
    position: absolute;
    left: 950px;
    bottom: 420px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(10){
    width: 130px;
    height: 130px;
    position: absolute;
    left: 1220px;
    bottom: 480px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(2){
    width: 180px;
    height: 130px;
    position: absolute;
    left: 1300px;
    top: 10px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(4){
    width: 180px;
    height: 130px;
    position: absolute;
    left: 13px;
    top: 100px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(1){
    width: 180px;
    height: 130px;
    position: absolute;
    left: 80px;
    top: 150px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(3){
    width: 200px;
    height: 100px;
    position: absolute;
    left: 750px;
    top: 130px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(11){
    width: 200px;
    height: 100px;
    position: absolute;
    left: 550px;
    top: 160px;
    transform:rotate(0deg);
}
section:nth-child(3)>article#ImagesEdu>img:nth-child(12){
    width: 200px;
    height: 180px;
    position: absolute;
    left: 300px;
    top: 70px;
    transform:rotate(0deg);
}

/*-------------------------------------Education page is over----------------------------*/

/*Topic content*/
body>main>section:nth-child(4)>div.box{

    top: -20px;

}

.box form .Skils{
    position: absolute;
    left: 0;
    top: 10px;
}

.Skils{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}
/*-----------------------------------------*/
/*=================================================================================================*/

/*=================================================First Main circle===================================================*/
section:nth-child(4)>section.MainCircle_1::before{
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    top: 0;
    bottom: 0;
    left: 80px;
    margin: auto;
    background-color: #000000;
    border: 20px solid wheat;
    border-radius: 100%;
    border-top: 20px solid red;
}

section:nth-child(4)>section.MainCircle_1:hover::before{
    cursor: pointer;
    transform: rotate(7200deg);
    transition-property: all;
    transition-duration: 15s;
}

/*----------------------------------------------------------------*/

/*Circle Image*/
section:nth-child(4)>section.MainCircle_1>img:nth-child(1){
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 130px;
    margin: auto;
}

/*---------------------------------------------------------------*/
/*Computer image*/
section:nth-child(4)>section.MainCircle_1>img:nth-child(2){
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 230px;
    margin: auto;
}

/*----------------------------------------------------------------------*/
/*Languages topic*/
section:nth-child(4)>section.MainCircle_1>h2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 260px;
    margin: auto;
    color: #FFD700;
    width: max-content;
    height: max-content;
    font-size: 50px;
}
/*---------------------------------------------------------------------*/
/*Languages photos*/
section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(1){
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 550px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(2){
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    bottom:300px;
    left: 500px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(3){
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    bottom:0;
    left: 150px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}

section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(4){
    position: absolute;
    width: 80px;
    height: 80px;
    bottom:110px;
    left: 340px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}

section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(5){
    position: absolute;
    width: 80px;
    height: 80px;
    top: 110px;
    left: 340px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(6){
    position: absolute;
    width: 80px;
    height: 80px;
    bottom:160px;
    left: 490px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_1>aside.FirstCirclePhotos>article>img:nth-child(7){
    position: absolute;
    width: 80px;
    height: 80px;
    top: 0;
    bottom:300px;
    left: 200px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
/*=======================================================First circle is done================================================*/


/*=======================================================Second Main circle -====================================================== */

section:nth-child(4)>section.MainCircle_2::before{
    content: "";
    position: absolute;
    width: 550px;
    height: 550px;
    top: 0;
    bottom: 0;
    /*left: 80px;*/
    right: 80px;
    margin: auto;
    background-color: #000000;
    border: 20px solid wheat;
    border-radius: 100%;
    border-top: 20px solid red;
}

section:nth-child(4)>section.MainCircle_2:hover::before{
    cursor: pointer;
    transform: rotate(360deg);
    transition-property: all;
    transition-duration: 5s;
}

/*2nd Circle Image*/
section:nth-child(4)>section.MainCircle_2>img:nth-child(1){
    width: 500px;
    height: 500px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 120px;
    margin: auto;
}

/*Computer image*/
section:nth-child(4)>section.MainCircle_2>img:nth-child(2){
    width: 300px;
    height: 300px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 220px;
    margin: auto;
}

/*Languages topic*/
section:nth-child(4)>section.MainCircle_2>h2{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 325px;
    margin: auto;
    color: #FFD700;
    width: max-content;
    height: max-content;
    font-size: 50px;
}

/*Tools photos*/

section:nth-child(4)>section.MainCircle_2>aside.SecondCirclePhotos>article>img:nth-child(1){
    position: absolute;
    width: 120px;
    height: 100px;
    top: 0;
    bottom: 0;
    right: 512px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_2>aside.SecondCirclePhotos>article>img:nth-child(2){
    position: absolute;
    width: 100px;
    height: 80px;
    top: 115px;
    /*bottom: 0;*/
    right: 325px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_2>aside.SecondCirclePhotos>article>img:nth-child(3){
    position: absolute;
    width: 100px;
    height: 80px;
    top: 0;
    bottom: 0;
    right: 100px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}
section:nth-child(4)>section.MainCircle_2>aside.SecondCirclePhotos>article>img:nth-child(4){
    position: absolute;
    width: 100px;
    height: 80px;
    /*top: 0;*/
    bottom: 115px;
    right: 325px;
    margin: auto;
    color: #FFD700;
    font-size: 50px;
}


/*=======================================================Second circle is done================================================*/


section:nth-child(5)>div.box{

    top: -20px;

}

.box form .My{
    position: absolute;
    left: 30px;
    top: -10px;
}
.box form .Achievements{
    position: absolute;
    right: 0;
    bottom: -10px;
}

.My{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}
.Achievements{
    color: #FFFFFF;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}
/*-------------------------------------*/
section:nth-child(5)>section>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

section:nth-child(5)>section>div:last-child>section{
    position: relative;
    display: flex;
    width: 900px;
    height: 420px;
    justify-content: center;
}

section:nth-child(5)>section>div:last-child>section>div{
    display: flex;
    align-items: center;
}

section:nth-child(5)>section>div:last-child > section > div > button{
    margin: 55px;
    background: none;
    border: none;
}

section:nth-child(5)>section>div:last-child > section > div > button > i{
    font-size: 3em;
    color: #3A86FF;
}

section:nth-child(5)>section>div:last-child > section > div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

section:nth-child(5)>section>div:last-child > section > div:nth-child(2):hover{
    box-shadow: 0 4px 76px 2px #3A86FF;
}

section:nth-child(5)>section>div:last-child > section > div:nth-child(2) >div{
    background-image: url("../image/png/AchievementPage/certificate-3.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);
}

/*---------------------------------------*/
section:nth-child(5)>section>div:last-child > section > div:nth-child(2) > div:nth-child(1){
    width: 360px;
    height: 250px;
    margin-right: -230px;
}

section:nth-child(5)>section>div:last-child > section > div:nth-child(2) > div:nth-child(2){
    width: 550px;
    height: 420px;
}

section:nth-child(5)>section>div:last-child > section > div:nth-child(2) > div:nth-child(3){
    z-index: -2;
    width: 360px;
    height: 250px;
    margin-left: -230px;
}







/*

section:nth-child(5)>section{
    padding: 0;
    !*margin: 0;*!
    width: 90%;
    height: 70vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

section:nth-child(5)>section>div.slider-container{
    width: 90%;
    height: 60vh;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right, rgb(255,65,108), rgb(45, 8, 8));

}

section:nth-child(5)>section>div.slider-container>div.image-slider{
    width: 100%;
    height: 600px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

section:nth-child(5)>section>div.slider-container>div.image-slider>div.slide-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

section:nth-child(5)>section>div.slider-container>div.image-slider>div.slide-div>img.img{
    position: relative;
    width: 240px;
    height: 370px;
    transition: .5s;
    filter: saturate(100%);
}

section:nth-child(5)>section>div.slider-container>div.image-slider>div.slide-div>a.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}

section:nth-child(5)>section>div.slider-container>div.image-slider>div.slide-div>a.button:hover{
    background-color: rgba(0, 0, 0, .2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button1{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(80%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button2{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(80%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button3{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(80%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button4{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(80%);
}

#slider-span1:target ~ .image-slider {left: -30%}
#slider-span2:target ~ .image-slider {left: -20%}
#slider-span3:target ~ .image-slider {left: -10%}
#slider-span4:target ~ .image-slider {left: -02%}
*/

/*???????????????????????????????????????????????????????????*/

/*body>main >section:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/
/*
body>main >section:nth-child(5)>section{
    position: relative;
    display: flex;
    width: 900px;
    height: 420px;
    justify-content: center;
}

body>main > section:nth-child(5)>section>div{
    display: flex;
    align-items: center;
}

body>main > section:nth-child(5) > section > div > button {
    margin: 55px;
    background: none;
    border: none;
}

body>main > section:nth-child(5) > section > div > button > i {
    font-size: 3em;
    color: #3A86FF;
}

body>main > section:nth-child(5) > section>div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body>main > section:nth-child(5) > section > div:nth-child(2) :hover {
    box-shadow: 0 4px 76px 2px #3A86FF;
}


body>main > section:nth-child(5) > section > div:nth-child(2) > div {
    background-image: url("../image/png/4PAge/certificates/WhatsApp Image 2023-05-10 at 22.04.01.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 4px 0 76px 10px rgba(184, 184, 184, 1);

}

body>main > section:nth-child(5) > section > div:nth-child(2) > div:nth-child(1) {
    width: 360px;
    height: 250px;
    margin-right: -230px;
}

body>main > section:nth-child(5) > section > div:nth-child(2) > div:nth-child(2) {
    width: 550px;
    height: 420px;
}

body>main > section:nth-child(5) > section > div:nth-child(2) > div:nth-child(3) {
    z-index: -1;
    width: 360px;
    height: 250px;
    margin-left: -230px;
}*/
/*???????????????????????????????????????????????????????????*/



/*-----------------------------Projects-----------------------------------------*/

/*Topic*/
body>main>section:nth-child(6)>div.box{

    top: -20px;

}

.box form .Projects{
    position: absolute;
    left: 0;
    top: 10px;
}

.Projects{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}
/*-----------------------------------------*/

/*Add Animation photos*/
body>main>section:nth-child(6){
   /* margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

body>main>section:nth-child(6)>section.Rotation{
    width: 900px;
    height: 550px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(252, 252, 252, 0.06);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: perspective(800px);

}

body>main>section:nth-child(6)>section.Rotation>div.Round{
    width: 200px;
    height: 170px;
    background-color: transparent;
    transform-style: preserve-3d;
    transform: rotateX(-15deg) rotateY(0deg);
    transition: 1s transform;
}

body>main>section:nth-child(6)>section.Rotation>div.Round>div.side{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.s1{
    background-image: url("../image/png/5Page/Project-1.png");
    transform: rotateY(0deg) translateZ(250px);
}
.s2{
    background-image: url("../image/png/5Page/Project-2.png");
    transform: rotateY(60deg) translateZ(250px);
}

.s3{
    background-image: url("../image/png/5Page/Project-3.png");
    transform: rotateY(120deg) translateZ(250px);
}
.s4{
    background-image: url("../image/png/5Page/Project-4.png");
    transform: rotateY(180deg) translateZ(250px);
}
.s5{
    background-image: url("../image/png/5Page/Project-5.png");
    transform: rotateY(240deg) translateZ(250px);
}
.s6{
    background-image: url("../image/png/5Page/Project-6.png");
    transform: rotateY(300deg) translateZ(250px);
}

/*------------------------------Project page is over----------------------------------*/

/*-----------------Assingnment page------------------------------*/
/*Topic*/
body>main>section:nth-child(7)>div.box{

    top: -20px;

}

.box form .Assignments{
    position: absolute;
    left: -70px;
    top: 10px;
}

.Assignments{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}

/*Center photo*/

.AsimentCenterPho{
    width: 1200px;
    height: 550px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}




/*body>main>section:nth-child(7)>article:nth-child(1)>figure>img{*/
/*body>main>section:nth-child(7)>article:nth-child(1)>*/





/*----------------------------------Photos page----------------------------*/
/*Topic*/
body>main>section:nth-child(8)>div.box{

    top: -20px;

}

.box form .Photos{
    position: absolute;
    left: 0;
    top: 10px;
}

.Photos{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}

/*----------------------------------------*/
/*Add photos*/

body>main>section:nth-child(8)>section{
    position: relative;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 1200px;
    height: 550px;
    border: 2px solid wheat;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(6,1fr);

    grid-row-gap: 3px;
    grid-column-gap: 3px;
}

body>main>section:nth-child(8)>section>div{
    border: 2px solid yellow;
}

body>main>section:nth-child(8)>section>div:nth-child(1){
    background: url("7Page/IMG_20201108_065344.jpg");
    grid-column: 1/3;
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
}
body>main>section:nth-child(8)>section>div:nth-child(2){
    background: url("7Page/IMG_20220114_213040.jpg");
    background-size: cover;
    background-position: center;
}
body>main>section:nth-child(8)>section>div:nth-child(3){
    background: url("7Page/IMG_20200712_164818.jpg");
    background-size: cover;
    background-position: center;
}
body>main>section:nth-child(8)>section>div:nth-child(4){
    background: url("7Page/IMG-20220910-WA0019.jpg");
    grid-column: 5/7;
    grid-row: 1/2;
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(5){
    background: url("7Page/IMG_20210114_143702.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(6){
    background: url("7Page/1646754119267.jpg");
    grid-column: 2/4;
    grid-row: 2/3;
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(7){
    background: url("7Page/IMG_20220605_095328.jpg");
    grid-column: 4/6;
    grid-row: 2/3;
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(8){
    background: url("7Page/IMG-20201208-WA0044.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(9){
    background: url("7Page/IMG-20220821-WA0081.jpg");

    grid-column: 1/3;
    grid-row: 3/4;
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(10){
    background: url("7Page/IMG-20220521-WA0052.jpg");

    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(11){
    background: url("7Page/IMG_20220115_093530.jpg");
    background-size: cover;
    background-position: center;
}

body>main>section:nth-child(8)>section>div:nth-child(12){
    background: url("7Page/IMG-20220901-WA0029.jpg");
    grid-column: 5/7;
    grid-row: 3/4;
    background-size: cover;
    background-position: center;
}

/*-------------------------------Over Photos page-----------------------------------*/

/*-------------------------------Start Activities page---------------------------------*/

body>main>section:nth-child(9)>div.box{

    top: -20px;

}

.box form .Activities{
    position: absolute;
    right: 30px;
    top: 10px;
}

.Activities{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}

/*-------------------------------------------*/

body>main>section:nth-child(9)>article>div{

    position: absolute;
    top: -100px;
    bottom: 0;
    left: 250px;
    /*right: 0;*/
    margin: auto;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

body>main>section:nth-child(9)>article>div>img{
    padding-left: 120px;
}

body>main>section:nth-child(9)>article>ul{
    color: #FFFFFF;
    position: absolute;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    /*padding-left: 120px;*/

}

body>main>section:nth-child(9)>article>ul>h3{
    padding: 100px;
}


/*----------------------------Contact page-------------------------------------*/

body>main>section:nth-child(10)>div.box{

    top: -20px;

}

.box form .Contact{
    position: absolute;
    right: 60px;
    top: 10px;
}

.Contact{
    color: #FAFF00;
    font-weight: 500;
    font-family:Magneto;
    text-align: center;
    padding-left: 80px;
    letter-spacing: 0.1em;
}
/*-----------------------------------------------*/
/*--------------------Contact Info---------------------------*/

body>main>section:nth-child(10)>aside.details>div{
    width: 550px;
    height: 350px;
    position: relative;
    left: 40px;
    background-color: #FFFFFF;
    border-radius: 30px;
    opacity: 5%;
}

body>main>section:nth-child(10)>aside.details>address.Address>p{
    position: absolute;
    left: 60px;
    right: 0;
    top: 100px;
    bottom: 0;
    color: #00FFFF;
    font-size: 40px;
    font-family: STFangsong;
}

body>main>section:nth-child(10)>aside.details>address.Address>article>d1>div>img:nth-child(1){
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    right: 0;
    top: 200px;
    bottom: 0;
}
body>main>section:nth-child(10)>aside.details>address.Address>article>d1>div>dt{
    position: absolute;
    left: 100px;
    right: 0;
    top: 210px;
    bottom: 0;
    color: #FFFFFF;
    font-size: 30px;
}

body>main>section:nth-child(10)>aside.details>address.Address>article>d1>nav>img:nth-child(1){
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    right: 0;
    top: 260px;
    bottom: 0;
}
body>main>section:nth-child(10)>aside.details>address.Address>article>d1>nav>a#Email{

    position: absolute;
    left: 100px;
    right: 0;
    top: 265px;
    bottom: 0;
    color: #FFFFFF;
    font-size: 30px;

}

body>main>section:nth-child(10)>aside.details>address.Address>article>d1>nav>img#con{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50px;
    right: 0;
    top: 320px;
    bottom: 0;
}
body>main>section:nth-child(10)>aside.details>address.Address>article>d1>nav>a#pNum{
    position: absolute;
    left: 100px;
    right: 0;
    top: 325px;
    bottom: 0;
    color: #FFFFFF;
    font-size: 30px;
}

body>main>section:nth-child(10)>aside.details>address.Address>article>d1>div#addresss>img {
    width: 60px;
    height: 50px;
    position: absolute;
    left: 40px;
    right: 0;
    top: 380px;
    bottom: 0;
}

body>main>section:nth-child(10)>aside.details>address.Address>article>d1>div#addresss>dt {
    position: absolute;
    left: 100px;
    right: 0;
    top: 390px;
    bottom: 0;
    color: #FFFFFF;
    font-size: 30px;
}

/*------------------------------------------------------------------------------*/

body>main>section:nth-child(10)>aside.details>nav.ConPageSocial{
    position: absolute;
    right: 0;
    bottom: 150px;
    left: 90px;
    /*top: 300px;*/
}
body>main>section:nth-child(10)>aside.details>nav.ConPageSocial>div {
    right: 100px;
    margin-right: 10px;
    display: inline-block;
}
body>main>section:nth-child(10)>aside.details>h5#fmotp {
    color: #9EFF00;
    position: absolute;
    right: 0;
    left: 190px;
    bottom: 100px;
}



body>main>section:nth-child(10)>aside.SendDetails>div{
    width: 550px;
    height: 470px;
    position: absolute;
    /*left: 0;*/
    right: 50px ;
    bottom: 0;
    top: 40px;
    margin: auto;
    background-color: #FFFFFF;
    border-radius: 30px;
    opacity: 4%;
}



body>main>section:nth-child(10)>aside.SendDetails>div.ShapeName{
    width: 450px;
    height: 50px;
    border-radius: 30px;
    background-color: #FFFFFF;
    opacity: 25%;
    right: 100px;
    bottom: 370px;
}
body>main>section:nth-child(10)>aside.SendDetails>div.ShapeName>dt {
    font-size: 20px;
   padding-top: 10px;
    padding-left: 10px;
    color: #000000;
}
/*--------------------------------------------------------------------*/

body>main>section:nth-child(10)>aside.SendDetails>div.ShapeEmail{
    width: 450px;
    height: 50px;
    border-radius: 30px;
    background-color: #FFFFFF;
    opacity: 25%;
    right: 100px;
    bottom: 210px;
}
body>main>section:nth-child(10)>aside.SendDetails>div.ShapeEmail>dt {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #000000;
}
/*--------------------------------------------------------------------*/


body>main>section:nth-child(10)>aside.SendDetails>div.ShapePno{
    width: 450px;
    height: 50px;
    border-radius: 30px;
    background-color: #FFFFFF;
    opacity: 25%;
    right: 100px;
    bottom: 45px;
}
body>main>section:nth-child(10)>aside.SendDetails>div.ShapePno>dt {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;
    color: #000000;
}

body>main>section:nth-child(10)>aside.SendDetails>div.ShapeMasage{
    width: 450px;
    height: 100px;
    border-radius: 30px;
    background-color: #FFFFFF;
    opacity: 25%;
    right: 100px;
    bottom: -180px;
}
body>main>section:nth-child(10)>aside.SendDetails>div.ShapeMasage>dt {
    font-size: 20px;
    padding-top: 20px;
    padding-left: 10px;
    color: #000000;
}


/*body>main>section:nth-child(10)>aside.SendDetails>div.SendButton {*/
body>main>section:nth-child(10)>div.SendButton{

    width: 150px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: -1100px;
    bottom: -410px;
    margin: auto;
    background-color: #00FF7F;
    border-radius: 30px;
}
body>main>section:nth-child(10)>div.SendButton>h3{
    font-size: 30px;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*padding-bottom : 110px;*/
    padding-left: 10px;
}

/*body>main>section:nth-child(10)>div.SendButton>nav*/
#sendArrow{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: -390px;
    left: 0;
    right: -1150px;
    margin: auto;
}










/*body>main>section>header>nav>ul{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 10px;*/
/*}*/
/*body>main>section>header>nav>ul>li>a{*/
/*    text-decoration: none;*/
/*    color: white;*/
/*}*/

/*body>main>section>header>nav>ul>li{*/
/*    font-size: 20px;*/
/*    margin-left: 10px;*/
/*    margin-right: 16px;*/
/*    font-family: 'Colonna MT', cursive ;*/
/*    !*background-color: rgba(255, 255, 255, 0.27);*!*/
/*    !*border-radius: 20px;*!*/
/*    display: inline-block;*/
/*}*/



















/*-------------------------------------------------------------------------------------------*/


/*section:nth-child(4)>section.MainCircle_1::before{*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    margin: auto;*/
/*    background-color: gray;*/
/*    border: 20px solid white;*/
/*    border-radius: 100%;*/
/*    border-top: 20px solid red;*/
/*}*/




/*=================================================================================================*/







/*Orange stages*/
/*section:nth-child(3)>section:nth-child(2)*/
/*section:nth-child(3)>section:nth-child(2)#Stages>div {
    width: 100px;
    height: 100px;
    background-color: #FFAE5D;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}*/
    /*
    width: 220px;
    height: 10px;
   - background-color: #FFAE5D;
  -  position: absolute;
  -  top: 0;
  -  left: 0;
   - bottom: 0;
  -  right: 0;
  -  margin: auto;
   - display: inline-block;
    */
    /*margin-right: 10px;*/



/*section:nth-child(3)>section*/
/*#Stages>div:nth-child(1) {
    !*width: 100px;*!
    !*height: 77px;*!
    top: -95px;
}*/
/*
body>main>section:nth-child(3)>section#Stages>div:nth-child(2) {
    height: 147px;
    top: -95px;
}
body>main>section:nth-child(3)>section#Stages>div:nth-child(3) {
    height: 217px;
    top: -95px;

}


body>main>section:nth-child(3)>section#Stages>div:nth-child(5) {
    height: 225px;
    top: -95px;
}
body>main>section:nth-child(3)>section#Stages>div:nth-child(6) {
    height: 225px;
    top: -95px;
}

*/













