
.Op1{
    font-size: 48px;
    color: #9fff54;
}

.Op2{
    font-size: 48px;
    color: #faa400;

}

.Op3{
    font-size: 32px;
    color: #00e8ba;
}

.Op4{
    font-size: 20px;
    color: #9eff00;
}