body{
    background-color: black;
}

p{
    text-align: center;
    font-size: 55px;
    color: #FFFFFF;
}
section{
    width: 1000px;
    height: 320px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

section>div{
    height: 100px;
    flex-grow: 1;
    border: 1px solid red;
    border-radius: 20px;
}

section>div:nth-child(2):before{
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 105px;
}
section>div:first-child{
    align-self: start;
}

section>div:last-child {
    align-self: end;

}

/*====================*/

#btn{
    position: absolute;
    left: 0;
    right: 50px;
    top: 300px;
    bottom: 0;
    margin: auto;
    width: 58px;
    height: 38px;

}
#btn1{
    position: absolute;
    left: 150px;
    right: 0;
    top: 300px;
    bottom: 0;
    margin: auto;
    width: 58px;
    height: 38px;

}